<div class="jumbotron">
<%= render 'shared/error_messages' %>

  <div class='panel panel-default'>
    <div class='panel-heading'>
    <h3>Edit</h3>
    </div>
    <%= render 'shared/user_form' %>
  </div>
</div>
