<div class="jumbotron">
<%= render 'shared/error_messages' %>

  <div class='panel panel-default'>
    <div class='panel-heading'>
    <h2 class="text-center">Sign Up</h2>
    </div>
    <%= render 'shared/user_form' %>
  </div>
</div>
