
<div class="jumbotron">

<div class='panel panel-default'>

  <div class='panel-heading'>
    <p><%= @user.first_name %> <%= @user.last_name %></p>
  </div>

  <div class="panel-body">
  <p>email:<%= @user.email%></p>
  </div>

  <div class="panel-footer">
    <%= link_to "Edit", edit_user_path(current_user), class: "btn btn-default"%>
  </div>

</div>
</div>
