<nav class="navbar navbar-inverse">
  <div class="container-fluid">

        <div class="navbar-header">
    		  <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span>  Authentication and Authorisation</a>
        </div>

        <div class="container-fluid">
          <%if current_user%>
          <p class="navbar-text navbar-right"> Signed in as: <strong>User: <%=current_user.id%> <%=current_user.email%> </strong>
          <a "navbar-link"><%= link_to "Sign Out", logout_path, method: "delete"%></a></p>      
          <%end%>
        </div>


  </div>
</nav>
